<form action="/tk" method="POST" >
    {{!-- {{#each jobs}}
        <script id="loai" type="text/x-handlebars-template">
            <input type="checkbox" class="cbook" value="{{this.category2}}"/>
        </script>
    {{/each}}  --}}
    <input id="id" type="text" name="congviec" size="40"/>
    <input type="submit" name="search" value="Search" />
</form>

